<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>

    <style type="text/css">
              /* Set the size of the div element that contains the map */
              #map {
                height: 400px;
                /* The height is 400 pixels */
                width: 100%;
                /* The width is the width of the web page */
              }
    </style>
    <script>
              // Initialize and add the map
              function initMap() {
                // The location of Uluru
                const uluru = { lat: 40.752989397863196, lng: -73.9840178374113 };
                // The map, centered at Uluru
                const map = new google.maps.Map(document.getElementById("map"), {
                  zoom: 4,
                  center: uluru,
                });
                // The marker, positioned at Uluru
                const marker = new google.maps.Marker({
                  position: uluru,
                  map: map,
                });
              }
    </script>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_c6g-5qQf8V9rwIcUxAZ6rEMBArZvfrU&callback=initMap&libraries=&v=weekly" async></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-database.js"></script>

    <script>
    const firebaseConfig = {
        apiKey: "AIzaSyCYuZ8UQGImdLKanVf9r7vuY3WypkDB5D8",
        authDomain: "project01-386511.firebaseapp.com",
        databaseURL: "https://project01-386511-default-rtdb.firebaseio.com",
        projectId: "project01-386511",
        storageBucket: "project01-386511.appspot.com",
        messagingSenderId: "599198478246",
        appId: "1:599198478246:web:61410953374ed9fcb6a967",
        measurementId: "G-9NXCQW30WL"
    };
    </script>
</body>
</html>